.container {
    margin: 0 auto;
    padding: 3em;
    background-color: #fa7c42;
    border: 2px solid #ff641d;
    width: 70%;
    position: fixed;
    /* set modal to the center of the screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.closeModal {
    position: absolute;
    top: 0;
    right: 0;
}