.App {
  text-align: center;
  margin: 5em 2em;
}

.order {
  display: flex;
  align-items: flex-start;
  column-gap: 2em;
}

.menu,
.cart {
  padding: 1.5em 0;
  background-color: var(--main-bg);
  border: 2px solid var(--border-color);
  border-radius: 20px;
}

.menu {
  flex: 2;
}

.cart {
  flex: 1;
}

.checkout {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}