:root {
  --main-bg: #fa7c42;
  --secondary-bg: #fca780;
  --main-color: #fcf3e8;
  --secondary-color: #d41f1f;
  --button-bg: #ffff60;
  --button-bg-hover: #ff2222;
  --border-color: #ff6c29;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--main-color);
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

button {
  background-color: var(--button-bg);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: .5em 1em;
}

li {
  list-style: none;
}